<!DOCTYPE html>
<html>
  <head>
    {% load slider_tags %}
      {% load staticfiles %}
      <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js'></script>
      <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css"/>
      <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
      <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.js'></script>
      <link rel="stylesheet" href='{% static "search/css/slider.css" %}' />
      <link rel="stylesheet" href='{% static "search/css/bootstrap.css"%}'/>
      <link rel="stylesheet" href='{% static "search/tokenfield/css/bootstrap-tokenfield.css"%}'/>
      <link rel="stylesheet" href='{% static "search/css/main.css" %}'/>
      <script async defer
        src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyBqr-bcICmK4xrq1I2UAdC7z7S85D0_BxI&callback=initMap">
      </script>
    </style>
  </head>
  <body>
    <div id="top">    
      <nav class="navbar navbar-default">
        <div class="navbar-header">
          <div class="navbar-brand" href="#">Moments</div>
        </div>
        <div id="tag-section" class="navbar-form navbar-left">
          Show me: 
          <div id="tag-box" data-toggle="tooltip" title="Type a tag, then press enter" data-placement="left">
            <input type="text" id="tags-input" placeholder=""></input>
          </div>
          <button id="submit" class="btn btn-default">Search</button>
        </div>
      </nav>
    </div>
  	<div id="bottom">
      <div class="well" id="floating-panel">
        <div class="form-inline">
          <div style="float:left">
            Within 
            <input class="form-control" id="dist" type="textbox" value="10000" size="5" onchange="updateRadius();"> 
            m of &nbsp;
          </div>
          <span id="text-span">
            <input class="form-control" id="autocomplete" style="width:100%" type="textbox">
          </span>
          </div>
        </div> <!-- .form-inline -->
      <div id="map"></div>
    </div>
    <div id="slider">  </div>
    <output id="min"></output>
    <div id="minDate" style="display: inline-block"></div>
    <output id="max"></output>
    <div id="maxDate" style="display: inline-block"></div>
  
    <script type="text/javascript" src='{% static "search/js/main.js" %}'></script>
    <script type="text/javascript" src='{% static "search/js/bootstrap.js" %}'></script>
    <script type="text/javascript" src='{% static "search/js/slider.js" %}'></script>
    <script type="text/javascript" src='{% static "search/tokenfield/bootstrap-tokenfield.js" %}'></script>
    <script type="text/javascript">$('#tags-input').tokenfield();
    $('#tag-box').tooltip();</script>
    <div hidden="true" id="iconid">{% static "/static/search/marker.png" %}
  </body>
</html>
