<!DOCTYPE html>
<html>
  <head>
    {% load slider_tags %}
      {% load staticfiles %}
      <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js'></script>
      <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.js'></script>
      <link rel="stylesheet" type="text/css" href="{% static "search/slider.css" %}" />
      
    <style type="text/css">
      html, body { 
        height: 100%;
        margin: 0;
        padding: 0;
      }
	      #top,
	#bottom {
	    position: fixed;
	    left: 0;
	    right: 0;
	}

	#top {
	    top: 0;
	    height: 10%;
	}
	
	#bottom {
	    bottom: 0;
	    height: 85%;
	}
	#top div {
	   display: inline-block;
	   vertical-align: middle;
	   width: 100%;
	}
      #map {
        height: 100%;
      }
      #slider {      
         position: absolute;
         bottom: 2.5%;
         z-index: 5;
         left: 12.5%;
         padding: 5px;  
         width: 75%;
      }
      #floating-panel {
      	position:absolute;
        top: 11px;
        left: 115px;
        width: 30%;
        z-index: 10;
        %background-color: #fff;
        %padding: 3px;
        %border: 1px solid #999;
        text-align: center;
        font-family: 'Roboto','sans-serif';
        line-height: 23px;
        %padding-left: 10px;        
      }
    </style>
  </head>
  <body>
    <div id="top">      
        <div style="width:15%;height:100%" id="logo">
            <p>Moments</p>
        </div><!--    
        --><div style="width:70%; text-align:center;" id="search">
            <form>
            <input id="tags-input" type="textbox" placeholder="Insert tags">
            <label>within</label>
            <input id="dist" type="textbox" value="10000" size="6" onchange="updateRadius()">
            <label>m of</label>
            </form>
        </div><!--
        --><div style="width:15%" id="submit">
            <input type="button" value="Search">
        </div>
    </div>
  	<div id="bottom">
    <div id="floating-panel">
        <input type="search" id="autocomplete" style="width:100%" type="textbox">
    </div>
    <div id="map"></div>
    <script type="text/javascript">

var map;
var marker;
var circle;

function initMap() {
  var myLatlng = new google.maps.LatLng(-33.8650, 151.2094);

  map = new google.maps.Map(document.getElementById('map'), {
    center: myLatlng,
    zoom: 10
  });

  marker = new google.maps.Marker({
    position: myLatlng,
    map: map,
    draggable: true
  });
  marker.addListener('dragend', updateAutocomplete);
  
  circle = new google.maps.Circle({
    map: map,
    radius: parseInt(document.getElementById('dist').value),
    fillColour:'#AA0000'
  })
  circle.bindTo('center', marker, 'position');

  map.addListener('click', function(e) {
    var lat = e.latLng.lat();
    var lng = e.latLng.lng();
    marker.setPosition({lat: lat, lng: lng})
    updateAutocomplete();
//    httpGetAsync('map/results?lat=' + lat + '&lng=' + lng, testCallback);
  });

  document.getElementById('submit').addEventListener('click', function() {
    var lat = marker.getPosition().lat();
    var lng = marker.getPosition().lng();
    var dist = document.getElementById('dist').value;
    var minDate = getMinDate();
    var maxDate = getMaxDate();
    var tags = document.getElementById('tags-input').value;
    window.location.href = '/search/map/results?lat=' + lat + '&lng=' + lng + 
                           '&dist=' + dist + '&tags=' + tags + '&min_date=' + minDate +'&max_date=' + maxDate;
  });
  
  autocomplete = new google.maps.places.Autocomplete(document.getElementById('autocomplete'));
  autocomplete.addListener('place_changed', function(){
    newSpot = autocomplete.getPlace().geometry.location;
    marker.setPosition(newSpot);
    map.setCenter(newSpot);
  });
}

function updateRadius() {
  var rad = parseInt(document.getElementById('dist').value);
  circle.setRadius(rad);
}

function httpGetAsync(url, callback) {
    var xmlHttp = new XMLHttpRequest();
    xmlHttp.onreadystatechange = function() { 
      if (xmlHttp.readyState == 4 && xmlHttp.status == 200) {
        callback(xmlHttp.responseText);
      }
    }
    xmlHttp.open("GET", url, true); // true for asynchronous 
    xmlHttp.send(null);
}

function testCallback(responseText) {
  alert(responseText);
}

function getMinDate() {   
  var date = moment($("#min").text(),"DD MMM YYYY").format("YYYY-MM-DD");
  return date;
}

function getMaxDate() {   
  var date = moment($("#max").text(),"DD MMM YYYY").format("YYYY-MM-DD");
  return date;
}

function updateAutocomplete() {
  gc = new google.maps.Geocoder();
  gc.geocode({'location': marker.getPosition()}, function(results, status) {
    if (status == google.maps.GeocoderStatus.OK) {
      if (results.length > 1) {
        document.getElementById('autocomplete').value = results[1].formatted_address;
      } else {
        document.getElementById('autocomplete').value = results[0].formatted_address;
      }
    } else {
      document.getElementById('autocomplete').value = "";
    }
  });
}

    </script>
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyBqr-bcICmK4xrq1I2UAdC7z7S85D0_BxI&callback=initMap">
    </script>
    </div>
  

    <div id="slider">
      <output id="min"></output>
      <output id="max"></output>
    </div>
         
    <script type="text/javascript">
        var years = moment().year()-1850;
        $("#slider").slider({
            min: 0,
            max: years,
            step: 1,
            values: [0, years],
            range: true,
            slide: function(event, ui) {
                var delay = function() {
                    var handleIndex = $(ui.handle).index();
                    var label = handleIndex == 3 ? '#min' : '#max';
                    $(label).html("01 Jan " + (1850 + ui.value)).position({
                        my: 'center bottom-15',
                        at: 'center top',
                        of: ui.handle,
                        offset: "0, 10"
                    });
                };
                
                // wait for the ui.handle to set its position
                setTimeout(delay, 5);
            }
        });        
                                    
        $('#min').text("01 Jan " + (1850+$("#slider").slider("values",0))).position({
            my: 'center bottom-15',
            at: 'center top',
            of: $(".ui-slider-handle")[0]
        });
        
        $('#max').text(moment().format('DD MMM YYYY')).position({
            my: 'center bottom-15',
            at: 'center top',
            of: $(".ui-slider-handle")[1]
        });
    </script>
    
  </body>
</html>
