<h1>Search by location name</h1>
Search for a location
<form action="{% url 'search:location_search_text_results' %}" method="post">
{% csrf_token %}
<input id="autocomplete" class="controls" type="text" name="location" width=400 height=100 />
<input type="submit" value="Search" />
</form>
<script>
    function initAuto()
    {
        var options = 
        {
            bounds : new google.maps.LatLngBounds(
                new google.maps.LatLng(-33.89, 151.17), 
                new google.maps.LatLng(-33.85, 151.27))
        };
        var autocomplete = new google.maps.places.Autocomplete(document.getElementById('autocomplete'), options);
    };
</script>
<script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyBqr-bcICmK4xrq1I2UAdC7z7S85D0_BxI&callback=initAuto"
        async defer>
</script>