
html, body { 
  height: 100%;
  margin: 0;
  padding: 0;
}

#top, #bottom {
  position:fixed;
  left: 0;
  right: 0;
}

#top {
  z-index: 20;
  top: 0;
}

#tag-section div, input, button {
  display: inline-block;
  vertical-align: middle;
}

#bottom {
  bottom: 0;
  height: 100%;
}

#tag-section {
  position: absolute;
  left: 25%;
}

#map-gap {
  position:relative;
  z-index: auto;
  height: 10px;
}

#map {
  position: relative;
  z-index: 1;
  height: 100%;
}

#slider {      
  position: absolute;
  bottom: 2.5%;
  z-index: 5;
  left: 12.5%;
  padding: 5px;  
  width: 75%;
}

#floating-panel {
  position: relative;
  left: 20px;
  width: 40%;
  padding:4px 0px 2px 6px;
  line-height: 25px;
  %padding-left: 10px;
  white-space:nowrap;
}

#text-span {
  display:block;
  overflow:hidden; 
  padding: 0px 7px 2px 5px;
}

nav {    
    display:block;
}