
html, body { 
  height: 100%;
  margin: 0;
  padding: 0;
}
#top, #bottom {
  position:absolute;
  left: 0;
  right: 0;
}

#top {
  top: 0;
  height: 10%;
}

#top div {
  display: inline-block;
  vertical-align: middle;
}

#bottom {
  bottom: 0;
  height: 90%;
}

#tag-section {
  position: absolute;
  left: 35%;
}

#map {
  height: 100%;
}

#slider {      
  position: absolute;
  bottom: 2.5%;
  z-index: 5;
  left: 12.5%;
  padding: 5px;  
  width: 75%;
}

#floating-panel {
  position:absolute;
  top: 9px;
  left: 10px;
  width: 40%;
  z-index: 10;
  padding:4px 0px 2px 6px;
  font-family: 'Roboto','sans-serif';
  line-height: 25px;
  %padding-left: 10px;        
}

#text-span {
  display:block;
  overflow:hidden; 
  padding: 0px 7px 2px 5px;
}